<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="nav">歡迎光臨，這是會員頁</div>
    <div class="content">
        恭喜你成功登入系統
        <br>
        <br>
        <form action="/signout" method="GET">
            <a href="/signout">登出系統</a>
        </form>
    </div>
    
</body>
</html>